$primary_color: #f7645f;
$primary_color_light: lighten(saturate($primary_color, 20%), 10%);
$primary_color_dark: darken($primary_color, 15%);

$secondary_color: #003B95;
$secondary_color_light: lighten(saturate($secondary_color, 20%), 10%);
$secondary_color_dark: darken($secondary_color, 15%);

$info_color: #ced1d1;
$background_color: #facca15b;
$background_footer: #153048;

$success_color: #086605;
$warning_color: #fbd126e3;
$danger_color: #dc3545;
$light_color: #f8f9fa;
$dark_color: #343a40;

@use "~bootstrap/scss/bootstrap" with (
    $primary: $primary_color,
    $secondary: $secondary_color,
    $success: $success_color,
    $info: $info_color,
    $warning: $warning_color,
    $danger: $danger_color,
    $light: $light_color,
    $dark: $dark_color
);
/* @import "bootstrap/scss/bootstrap"; */
@import "general";
