@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Roboto+Slab:wght@100..900&display=swap");

* {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

.background {
    background-image: url("../../public/img/backgroun-image.avif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    height: 100vh;
    overflow-y: auto;
}

.backcard {
    padding: 3px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5) !important;

    strong {
        color: white;
    }
}

// .backtable {
//     background-color: rgba(0, 0, 0, 0.15) !important;
//     backdrop-filter: blur(2px) !important;
// }

//BACK

// apartements theme

$site_theme: #003b95;

.bg-theme {
    background-color: $site_theme;
}

// nav fixed
#sidebarMenu {
    text-align: center;

    @media (min-width: 992px) {
        text-align: left;
    }

    .sidenav {
        height: 100%;
        background-color: $site_theme;
        padding-top: 20px;
    }
}

// create, edit apartment form

#apartmentForm {
    border: 1px solid $site_theme;

    padding: 20px;
    border-radius: 10px;

    label {
        text-transform: uppercase;
        font-weight: bolder;
        color: black;
    }
}

// apartment images style

.w-10 {
    width: 10%;
}

.max-h-100 {
    max-height: 100px;
}

.img-apartment {
    width: 100%;
    object-fit: cover;
}

// statistic grafic 

.mx-auto {
    max-width: 70%;
    height: 400px;
}
