@use "./partials/_variables";

@use "bootstrap/scss/bootstrap" with (
  $primary: variables.$primary_color,
  $secondary: variables.$secondary_color,
  $success: variables.$success_color,
  $info: variables.$info_color,
  $warning: variables.$warning_color,
  $danger: variables.$danger_color,
  $light: variables.$light_color,
  $dark: variables.$dark_color
);

// @use "/node_modules/bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Roboto+Slab:wght@100..900&display=swap");


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a {
    color: currentColor;
    text-decoration: none;
}
